*{
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font: bold 20px verdana, sans-serif;
  }
  
  h2 {
    font: bold 14px verdana, sans-serif;
  }
  
  header, nav, section, aside, footer, article, figure, figcaption, hgroup{
    display: block;
  }
  
  body{
    text-align: center;
  }
  
  #agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
    background:  #ffffff;
  }
  
  #cabecera{
    background-color:#fff0e6;
    border: solid 1px #999999;
    padding: 20px;
  }
  
  #menu{
    background-color: #f2f2f2;
    padding: 5px 15px;
  }
  
  #menu li{
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    border: solid 1px gray;
    margin-left: 20px;
  }

  #menu li a{
      text-decoration: none;
  }

 #menu li a:hover{
    color: aqua;
}
  
  #seccion{
    float: left;
    width: 660px;
    margin:20px;
  }

  #seccion img{
    width: 100px;
    margin:2px;
  }

  #seccion figure{
    float: left;
  }
  
  #columna{
    float:left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background-color: #ffe6e6;
    
  }

  #columna blockquote{
      margin-bottom: 40px;
  }

  
  #columna blockquote img{
    width: 100px;
  }
  
  #pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
  }
  
  article{
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 15px;
  }
    
  article p{
   float: right;
  }
  
  article footer {
    text-align: right;
    clear: both;
  }

  time{
    color: #999999;
  }
  
  figcaption{
    font: italic 14px verdana, sans-serif;
  }

  table{
      width: 100%;

  }

  table th{
    color: aqua;
    background-color: gray;
    padding: 4px; 
}

table td{
    padding: 4px; 
}

#cabecera img{
    float: left;
    width: 30px;
    margin-right: 15px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type=text],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.modal div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.bar {
  fill: #5f89ad;
}

.axis {
  font-size: 13px;
}

.axis path,
.axis line {
  fill: none;
  display: none;
}

.label {
  font-size: 13px;
}